@page "/"

<PageTitle>Vuelos UNEAT</PageTitle>

<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <h1 style="font-size: 4rem; font-weight: bold; text-align: center; color: #00bfff;">
        Vuelos UNEAT
    </h1>
</div>
